.room-code {
  &.dark {
    background: linear-gradient(
      90deg,
      rgba(78, 91, 255, 1) 16%,
      rgba(134, 90, 253, 1) 48%,
      rgba(235, 89, 249, 1) 100%
    );
    background-repeat: no-repeat;
    border-color: transparent;

    color: #f8f8f8;

    > div {
      background: transparent;
    }
  }

  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background: #fff;
  border: 1px solid #835afd;
  cursor: pointer;

  display: flex;

  > div {
    height: 100%;
    background: #835afd;
    padding: 0 12px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: fit-content;
    font-size: 14px;
    font-weight: 500;
  }
}
